# ------------------------------------------------------------------------------
#                 Configuration file of the computational routines
# ------------------------------------------------------------------------------
#
# Author: Diogo L.O.C. (locdiogo@gmail.com)
#
# Last Date: 08/2025
#
# Description:
# This is an example of configuration file, wherein global paths and parameters
# related to the analysis of quality of seismological data are defined. At least
# one file should reside in the folder in which you intend to run your scripts.
# The configuration file(s) can have any name, as long as the extension is 'cnf':
# e.g., 'analysis.cnf', 'config.cnf', 'myconfig.cnf', 'test.cnf'...
#
# The parameters are divided into several sections:
# - [paths] : default input/output folder paths
# - [model] : default parameters to create the soil model
# - [gene]  : default parameters for the genetic algorithm
#
# Before using the scripts, you should at least make sure that the paths in
# section [paths] are consistent with your own files and folders organization.
#
# More information in:
# https://wiki.python.org/moin/ConfigParser
#
# ------------------------------------------------------------------------------
#
# ========================
# Examples of Soil Models:
# ========================
#
# Number of layers: 3 horizontal layers
# Layer depths: Randomly selected from a predefined list of tuples
#
#
#  MWC
#  ---
#  depth_ranges = [(-0.3, -0.5), (-0.8, -1.0), (-1.3, -1.5)] # meters
#  density_ranges = [(1.1, 1.2), (1.3, 1.4), (1.5, 1.7)] # g/cm³
#
#  MCP1
#  ----
#  depth_ranges = [(-0.3, -0.5), (-0.8, -1.0), (-1.3, -1.5)] # meters
#  density_ranges = [(1.6, 1.7), (1.2, 1.3), (1.4, 1.5)] # g/cm³
#
#  MCP2-1
#  ------
#  depth_ranges = [(-0.3, -0.5), (-0.8, -1.0), (-1.3, -1.5)] # meters
#  density_ranges = [(1.1, 1.2), (1.5, 1.7), (1.3, 1.4)] # g/cm³
#
#  MCP2-2
#  ------
#  depth_ranges = [(-0.4, -0.4), (-0.9, -0.9), (-1.5, -1.5)] # meters
#  density_ranges = [(1.1, 1.2), (1.5, 1.7), (1.3, 1.4)] # g/cm³
#
# ------------------------------------------------------------------------------

#======
[paths]
#======

## ------------------------
## Name of the model

MODEL_NAME = MCP1

## -----------------------
## Directory of the output (Figures and Files)

FOLDER_OUTPUT = /media/sysop/14f7ead0-5dcb-4557-a139-55dbb404d11a/diogoloc/dados_posdoc/Projeto_AGRICULTURE_INVERSION/

#======
[model]
#======

## ----------------
## Number of layers (3 horizontal layers):
NUMBER_LAYERS = 3

## ------------
## Depth ranges (in meters)
DEPTH_RANGES = [(-0.3, -0.5), (-0.8, -1.0), (-1.3, -1.5)]

## --------------
## Density ranges (g/cm³)
DENSITY_RANGES = [(1.1, 1.2), (1.5, 1.7), (1.3, 1.4)]

#=====
[gene]
#=====

## =================================================================================================================
## This parameters generates a list of random layer thicknesses that sum exactly to a specified total (`MAX_TOTAL`). 
## Each layer thickness is randomly drawn from a uniform distribution between `MIN_THICK_LAYER` and `MAX_THICK_LAYER`, 
## ensuring that all layers meet the minimum thickness requirement (`MIN_THICK_LAYER`). 
## The final layer is adjusted so that the total thickness precisely matches `MAX_TOTAL`.

## ----------------------------------------
## Minimum thickness of an individual layer (m).
MIN_THICK_LAYER = 0.3 

## ----------------------------------------
## Maximum thickness of an individual layer  (m)
MAX_THICK_LAYER = 0.7

## -------------------------------------
## Maximum total thickness of all layers (default=2 m)
MAX_TOTAL = 2.0

## -----------------------------
## Number of layers of the model (default=5 layers)
MAX_LAYERS = 6

## ======================================================================================================
## Default parameters to generate a random velocity model with layer thicknesses (m) and Vs values (m/s).

## ---------------
## Lower bound for Vs values (m/s)
LOW_VELS = 50

## ---------------
## Upper bound for Vs values (m/s).
UP_VELS = 500

## ==========================================
## Default parameters to the inversion scheme

## ----------------------------------
## Probability of mutating each value (default=0.02 [2%])
MUTPB = 0.02

## ---------------------------------------
## The probability of performing crossover (default=0.7 [70%])
CXPB = 0.7      

## ---------------------------------------
## Storing best solutions in Hall of fame:
HOF_NUM = 1000    

## ---------------------
## Number of generations:
NGEN = 20

## ---------------
## Number of individuals in population:
POPULATION = 10000

## --------------------
## Number of inversions:
N_INV = 2

## ----------------------------------------
## Depth grid step size for homogenizing Vs (default = 0.1 m):
DEPTH_INTERVAL = 0.1

## ---------------
## MULTIPROCESSING
NUM_PROCESS = 10
